<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Django web Programming{% endblock %}</title>

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />

</head>
<body>

<div id="header">
	<h2 class="maintitle">Easy&amp;Fast Django web Programming</h2>
	<h4 class="welcome">Welcome,  <a href="#">Tello</a> /
	<a href="#">Change Password</a> /
	<a href="#">Logout</a>
	</h4>
</div>

<div id="menu">
	<li><a href="#">Home</a></li>
	<li><a href="#">Bookmark</a></li>
	<li><a href="#">Blog</a></li>
	<li><a href="#">Photo</a></li>

	<li><a href="#">Add&bigtriangledown;</a>
		<ul>
			<li><a href="#">Bookmark</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Photo</a></li>
		</ul>
	</li>
	<li><a href="#">Change&bigtriangledown;</a>
		<ul>
			<li><a href="#">Bookmark</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Photo</a></li>
		</ul>
	</li>

	<li><a href="#">Archive</a></li>
	<li><a href="#">Blog</a></li>
	<li><a href="#">Photo</a></li>
</div>


{% block content %}{}


</body>
</html>